<div class="images">

  <div class="col-md-4">
    <img src="assets/images/harshada.jpg"  id = "harshada" alt="member2" height="200px" width="200px" class="img-circle float-left" adivgn="top">
      <h3>Harshada Chaundkar</h3>
      <p>Amiable & Wanderlust</p>
      <p >hchaundkar@csu.fullerton.edu</p>
  </div>
  <div class="col-md-4"><img src="assets/images/tushar.jpg" alt="member2" height="200px" width="200px" class="img-circle float-right">
      <h3>Tushar Kamble</h3>
      <p>Passionate about Programming and Life</p>
      <p>tushark26@csu.fullerton.edu</p>
  </div>
  <div class="col-md-4"><img src="assets/images/Manali.jpg" alt="member3" height="200px" width="200px" class="img-circle float-right">
      <h3 >Manali Tawde</h3>
      <p>Gleeful</p>
      <p>tawdemanali93@csu.fullerton.edu</p>
  </div>


</div>



        <div class="col-md-4"><img src="assets/images/akshay.jpg" alt="member4" height="200px" width="200px" class="img-circle">
            <h3>Akshay Pawar</h3>
            <p>Full of Life</p>
            <p>akshay.pawar@csu.fullerton.edu</p>
        </div>
        <div class="col-md-4"><img src="assets/images/remi.jpg" alt="member5" height="200px" width="200px" class="img-circle">
            <h3>Remilda D'silva</h3>
            <p> Enjoying Life!!! </p>
            <p>thisisremi90@csu.fullerton.edu</p>
        </div>
