<div class="menu" style="height: 70px;">
    {{#link-to 'index'}}
    <h1>
        <em>Gourmet.com</em>
      </h1>
    {{/link-to}}
    <div class="links" style="padding-left: 500px;">
      {{#link-to 'homepage'}}
        Home
      {{/link-to}}
      {{#link-to 'searchpage'}}
        Search
      {{/link-to}}
      {{#link-to 'messages'}}
        Reviews
      {{/link-to}}
      {{#link-to 'about'}}
        About
      {{/link-to}}
      </div>
  </div>

  <div class="body" style="background-image: url(assets/images/background.jpg);height:3500px;width=100%">
    {{outlet}}

  </div>
