<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  <div style="float:left">
  {{#link-to 'searchpage' class="button"}}
    SEARCH
  {{/link-to}}
</div>
  <div style="margin-left: 150px;">
  {{#link-to 'messages' class="button"}}
    RATE US!!!!
  {{/link-to}}
</div>
</div>
