<p style="color:white; font-size:52px">Welcome!!!</p>
<br>
<br><br>

  <div style="float:center">
  {{#link-to 'searchpage' class="button"}}
    SEARCH
  {{/link-to}}
</div>
  <div style="margin-left: 150px;float:center;margin-top: -23px;">
  {{#link-to 'messages' class="button"}}
    RATE US!!!!
  {{/link-to}}
</div>
<br>
<br><br>
<div>
  <h2 style="color:white;">One cannot think well, love well and sleep well if one has not dined well.</h2>
  </div>
<br>
<br><br><br>
  <div class="col-md-4">
    <img src="assets/images/mexican-food.jpg" alt="member3" height="200px" width="200px" class="img-circle float-right">
  </div>


  <div class="col-md-4">
    <img src="assets/images/Pasta.jpg" alt="member4" height="200px" width="200px" class="img-circle">
      </div>
  <div class="col-md-4">
    <img src="assets/images/pani.jpg" alt="member5" height="200px" width="200px" class="img-circle">
  </div>
