<div class="searchpage">

<form {{action "displayres" this on="submit"}}>
  <label for="term">Cuisine:</label> {{input value=model.search.term type="text" class="form-control" name="term" required=true}}
  <label  for="location">Location:</label> {{input value=model.search.location type="text" class="form-control" name="location" required=true}}
<br>
  <button type="submit">Search</button>
  <div class="figures">



  <div class="col-md-4">
    <img src="assets/images/mexican-food.jpg" alt="member3" height="200px" width="200px" class="img-circle float-right">
  </div>


  <div class="col-md-4">
    <img src="assets/images/Pasta.jpg" alt="member4" height="200px" width="200px" class="img-circle">
      </div>
  <div class="col-md-4">
    <img src="assets/images/pani.jpg" alt="member5" height="200px" width="200px" class="img-circle">
  </div>
</div>
</form>
</div>
